.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  background-color: var(--neutral-950);
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--violet-800);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
